<div class="about">
  <div class="header">
    <header></header>
  </div>
  <div class="about-cont">
    <h1>About</h1>
    <p>Data not available</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
   
  </div>
  <div class="footer">
    <footer></footer>
  </div>
</div>
