<nav>
  <div class="header">
    <!-- ------------------------------------------------------------ -->
    <div class="header-logo">
      <!-- <img alt="logo"> -->
      <h5>MCQ4U</h5>
    </div>
    <!-- ------------------------------------------------------------ -->
    <div>
      <ul class="header-links">
        <li>
          <a [routerLink]="['/homepage']">Home</a>
        </li>
        <li>
          <a>Exams</a>
        </li>
        <li>
          <a [routerLink]="['/about']">About</a>
        </li>
      </ul>
    </div>
    <div class="sidebar">
      <div class="conatiner">
        <div class="toggler">
          <span (click)="toggleMenu()">Guest</span>&nbsp;<img class="user-img" src="https://cdn-icons-png.flaticon.com/512/219/219983.png" height="30px" alt="user">
        </div>
        <div class="menu" *ngIf="isMenuOpened">
          <div class="menu-item"><a [routerLink]="['/portal']">Log out</a></div>
          <div class="menu-item" (click)="toggleMenu()">Cansel</div>
        </div>
      </div>
    </div>
  </div>
</nav>