// @import 'ngx-toastr/toastr-bs4-alert';

.signup-main {
  // background-color: rgb(63, 81, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  width: 400px;
  // height: 60vh;
}

.main input {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: none;
  border: 2px solid blue;
}

.main input:focus {
  background-color: rgb(114, 178, 242);
}

.login-btn {
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
  font-weight: 500;
}

.guest-login-btn {
  margin-top: 10px;
  width: 100%;
  font-weight: 500;
}

.signup {
  margin-left: 20px;
  color: blue;
  font-weight: bold;
}

.forgot-pass {
  color: red;
  font-weight: bold;
}

input[type=text]:focus {
  outline: none;
  border: 1px solid rgb(8, 68, 196);
}

.input-error {
  background-color: rgb(252, 140, 140);
}

.input-error::placeholder {
  color: black;
  opacity: 2;
}
